.discover-hidden-friend-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20rem auto;
}

.discover-hidden-friend-container--text {
  font-size: 3.2rem;
  color: #222;
  font-weight: 800;
  text-align: center;
}

.discover-hidden-friend-container--img {
  margin: 5rem 0;
}

.full-button-width {
  width: 90vw;
}

.hidden-friend-text {
  display: block;
  font-size: 4.2rem;
  font-weight: bolder;
  margin: 1rem 0;
  margin-bottom: 5rem;
}