.top-menu-container {
  width: 100%;
  border: 1rem;
  border-bottom: 1rem solid #EE0000;
  display: flex;
  justify-content: center;
  height: 6vh;
  align-items: center;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.top-menu-title {
  font-size: 3.2rem;
}

.hamburguer-menu-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EE0000;
  padding: 1rem;
  border-radius: 0.5rem;
  right: 2.5%;
  top: 50%;
  transform: translateY(-50%);
}
.hamburguer-menu-container:hover {
  background-color: #a30000;
  cursor: pointer;
}