html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.default-button {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #fff;
  background-color: #EE0000;
  display: inline-block;
  font-weight: 900;
  font-size: 2.4rem;
}

.default-button:hover {
  background-color: #a30000;
}

.main-container {
  margin: 0 auto;
}

.red-color {
  color: #EE0000;
}